<section [ngClass]="{'loading': !taskList.length}">

    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input [(ngModel)]="item.checked" type="checkbox" name="" id="">
            <input (keyup)="validInput(item.task)" [ngClass]="{'checked': item.checked}" [(ngModel)]="item.task" type="text" name=""
                id="">

            <button (click)="deleteItemTaskList(i)">
                <img src="assets/icons/icon-trash.svg" alt="" srcset="">
            </button>
        </li>
    </ul>

</section>

<app-todo-input-add-itens (emmitTask)="setEmitTask($event)"></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAll()"></app-todo-button-delete-all>